*{
    margin: 8px;
    padding: 0% ;
}
.ContainerNavBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 232, 232);
    border-radius: 8px;
}
.CartWidget {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.imgCarrito, .imgLogo{
    width: 30px;
    height: 30px;
}
.greeting {
    display: flex;
    justify-content: center;
}
